@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-image: url('/static/img/bg-bl4ck.jpg');

	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	position: relative;
	color: white;
}

.background {
	position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background:before {
	content: '';
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(40,40,40,0.7), rgba(40,40,40,0.7));
}

.wrapper {
	position: relative;
	margin: 50px auto;
	width: 90%;
	max-width: 800px;
	text-align: center;
}

.header {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 100%;
	height: auto;
	font-size: 0;
	max-width: 700px;
	text-align: center;
	padding: 20px 0;
	margin: 40px 0;
}

.header .image {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	height: auto;
    margin-right: 5%;

	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 100px -6px #000;
}

.header .text {
	display: inline-block;
	width: auto;
	max-width: 70%;
	text-align: left;
	font-size: 30px;
	text-transform: uppercase;
	color: white;
	line-height: 70px;
}

.header .text .name {
	display: block;
	font-family: 'Anton', cursive;
	font-weight: normal;
}
.header .text .date {
	font-family: 'Anton', cursive;
	font-weight: normal;
	color: white;
	padding: 5px 10px;
	font-size: 24px;
	line-height: initial;
}

.items {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto;
	position: relative;
	padding-top: 50px;
}

.items .line {
	position: absolute;
	top: 0; left: 50%;
	background: #ccc;
	width: 2px;
	height: 100%;
	margin-left: -1px;
}

.items .line:before {
	content:  '';
	position: absolute;
	top: -16px; left: 50%;
	width: 16px;
	height: 16px;
	border: 2px solid #ccc;
	border-radius: 50%;
	box-sizing: border-box;
	margin-left: -8px;
}
.items .line:after {
	content:  '';
	position: absolute;
	bottom: -16px; left: 50%;
	width: 16px;
	height: 16px;
	border: 2px solid #ccc;
	border-radius: 50%;
	box-sizing: border-box;
	margin-left: -8px;
}

.items .item {
	display: block;
	vertical-align: top;
	width: 45%;
	height: auto; 
	text-align: left;
}
.items .item:nth-child(2n+1) {margin-left: 55%;}

.items .item .date {
	font-family: 'Anton';
	font-size: 36px;
	text-transform: uppercase;	
}

.items .item .content {
	font-weight: 300;
	line-height: 25px;
}

.items .item .icons {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto;
	font-size: 0;
	padding: 15px 0;
}

.items .item .icons .icon {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: auto;
	margin: 5px 10px;
}

.items .item .icons .icon > * {fill: white;}

.items .item .image {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto;
	box-shadow: 0 0 100px -6px #000;
	margin: 15px 0;
}

.logo {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-width: 300px;
	margin-top: 50px;
}

.logo span {
	display: block;
	vertical-align: top;
	width: auto;
	height: auto;
	margin: 15px 0 10px;
	padding: 5px 10px;
	color: white;
	font-size: 20px;
}

.logo img {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.logo a {
	text-decoration: underline;
	color: white;
}

@media (max-width : 500px) {
	.header .image {
		width: 150px;
		margin: 0;
	}

	.header .text {
		display: block;
		width: auto;
		max-width: none;
		margin: 20px 0 0;
		font-size: 25px;
		line-height: 45px;
		text-align: center;
	}

	.items .line {
		left: 0;
		margin-left: 0;
	}

	.items .item {
		width: 90% !important;
		margin: 20px 0 20px 10% !important;
	}
}