@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif; }

.wrapper {
  position: relative;
  margin: 50px auto;
  width: 90%;
  max-width: 800px;
  text-align: center; }

.header {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 90%;
  height: auto;
  font-size: 0;
  max-width: 700px;
  text-align: center;
  padding: 20px 0;
  margin: 40px 0; }

.header .text {
  display: inline-block;
  width: auto;
  max-width: 70%;
  font-size: 40px;
  line-height: 70px;
  text-align: center; }
  .header .text .name {
    display: block;
    font-weight: 300 !important; }
  .header .text .surname {
    display: block;
    font-family: 'Abril Fatface', cursive;
    font-weight: normal; }
  .header .text .trivia {
    text-transform: uppercase;
    margin: 3vh 0 0; }

.logo {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 300px; }
  .logo img {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
  .logo span {
    display: block;
    vertical-align: top;
    width: auto;
    height: auto;
    margin: 15px 0 10px;
    padding: 5px 10px;
    color: black;
    font-size: 20px; }

.questions {
  text-align: center;
  margin: 50px auto;
  width: 100%; }
  .questions .question {
    display: flex;
    padding: 5%;
    font-size: 30px;
    color: white;
    text-align: left;
    min-height: 70vh; }
    .questions .question.color1 {
      background-color: #0085AC; }
      .questions .question.color1 input:checked + .answer {
        color: #0085AC; }
    .questions .question.color2 {
      background-color: #ff9c00; }
      .questions .question.color2 input:checked + .answer {
        color: #ff9c00; }
    .questions .question.color3 {
      background-color: #9b9334; }
      .questions .question.color3 input:checked + .answer {
        color: #9b9334; }
    .questions .question.color4 {
      background-color: #fc6a42; }
      .questions .question.color4 input:checked + .answer {
        color: #fc6a42; }
    .questions .question.color5 {
      background-color: #869e00; }
      .questions .question.color5 input:checked + .answer {
        color: #869e00; }
    .questions .question.color6 {
      background-color: #91009E; }
      .questions .question.color6 input:checked + .answer {
        color: #91009E; }
    .questions .question .position {
      font-size: 25px;
      font-family: 'Abril Fatface', cursive;
      font-style: italic;
      margin: 0 5%; }
      .questions .question .position .current {
        font-size: 60px; }
    .questions .question .text {
      margin: 1vh 5vw; }
    .questions .question .answers {
      margin: 5vh 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      font-size: 25px; }
      .questions .question .answers div {
        display: inline-block;
        width: 22%;
        margin: .5vh .5vw; }
        .questions .question .answers div .answer {
          padding: 1.5vh 1vw;
          border: 1px solid white;
          display: inline-block;
          width: 100%;
          text-align: center;
          box-sizing: border-box;
          cursor: pointer; }
          .questions .question .answers div .answer:hover {
            background-color: rgba(0, 0, 0, 0.3); }
        .questions .question .answers div input {
          display: none; }
          .questions .question .answers div input:checked + .answer {
            background-color: white; }
    .questions .question .content {
      max-width: 1024px;
      margin: auto;
      width: 100%; }
  .questions .congrats {
    margin: 8vh 10vw 5vh;
    min-height: 41vh; }
    .questions .congrats h1 {
      margin: 4vh 0;
      font-size: 7vw; }
    .questions .congrats p {
      font-size: 3vw;
      margin: 1vh 1vw; }
      .questions .congrats p .score {
        font-weight: 400;
        font-size: 4vw; }

.submit {
  margin: 15vh auto;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  font-size: 20px;
  text-align: right; }
  .submit p {
    margin: 1% 0;
    text-align: left; }
  .submit input {
    display: block;
    font-size: 30px;
    width: 100%;
    margin: 1vh auto;
    padding: 2vh 2vw;
    border-radius: 5px;
    border: 2px solid #0085AC;
    font-weight: 200;
    transition: .3s ease-in-out; }
    .submit input:focus {
      outline: none;
      box-shadow: 0 5px 7px -5px #0085AC; }
  .submit button {
    padding: 3% 5%;
    color: white;
    background-color: #0085AC;
    font-size: 30px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
    .submit button:hover {
      background-color: #007b9f; }

.error {
  background-color: rgba(228, 4, 4, 0.8);
  padding: 1vh 0;
  margin: 2vh 0 0;
  border-radius: 5px;
  color: white;
  text-align: left; }
  .error li {
    display: block;
    list-style: none;
    padding: 1vh 2vw; }

@media (max-width: 768px) {
  .questions .question .answers div {
    width: 47%; } }
@media (max-width: 576px) {
  .header .text {
    font-size: 30px; }

  .questions .question {
    font-size: 25px; }
    .questions .question .answers div {
      width: 100%;
      margin-left: auto;
      margin-right: auto; } }

/*# sourceMappingURL=default.css.map */
