$primary: #0085AC;

.logo img {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-width: 350px;
}

.bot-says {
	margin-left: 30px;

	&:before {
		content: '';
		position: absolute;
		background: url('/static/assets/img/avatar.png');
		background-size: cover;
		bottom: 0; left: 0;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		border: 1px solid #ddd;
	}
}

@import "../../vendor/css/bulma/bulma"
