<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }} - TheJuice</title>
		<link rel="stylesheet" href="/static/style/templates/bl4ck.css"/>
        <meta name="description" content="The juice helps teachers translate their knowledge into a language students understand">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/ico/favicon-16x16.png">
        <link rel="manifest" href="/static/img/ico/manifest.json">
        <link rel="mask-icon" href="/static/img/ico/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
		<PageMap>
			<DataObject type="thumbnail">
				<Attribute name="src" value="/static/img/ico/android-icon-192x192.png"/>
				<Attribute name="width" value="100"/>
				<Attribute name="height" value="130"/>
			</DataObject>
		</PageMap>

        <meta name="thumbnail" content="/static/img/ico/android-icon-192x192.png" />

        <!--facebook-->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ title }} - TheJuice">
        <meta property="og:description" content="Translating teachers knowledge to fit into pupils social media">
        <meta property="og:image" content="{{ picture }}">
        <meta property="og:url" content="http://history.takethejuice.com/">

        <!--twitter-->
        <meta name="twitter:title" content="{{ title }} - TheJuice">
        <meta name="twitter:description" content="Translating teachers knowledge to fit into pupils social media">
        <meta name="twitter:image" content="{{ picture }}">
        <meta name="twitter:card" content="summary_large_image">

		<!-- GA -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-92654268-2', 'auto');
			ga('send', 'pageview');
			ga('send', 'event', 'output', 'infographic', '{{ title }}');
		</script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	</head>
	<body>
		{% if picture %}
			<div class="background" style="background-image: url('{{ picture }}')"></div>
		{% endif %}

		<div class="wrapper">
			<div class="addthis_inline_share_toolbox"></div>
		</div>
		<div class="wrapper">
			<div class="header">
				{% if picture %}
				<img class="image" src="{{ picture }}"/>
				<div class="text with-picture">
					<h1 class="name">{{ title }}</h1>
					<span class="date">{{ limits.start }} - {{ limits.end }}</span>
				</div>
				{% else %}
				<div class="text">
					<h1 class="name">{{ title }}</h1>
					<span class="date">{{ limits.start }} - {{ limits.end }}</span>
				</div>
				{% endif %}		
			</div>

			<div class="items">
				<div class="line"></div>
				{% for item in items %}
					<div class="item">
						<span class="date">{{ item.date }}</span>
						<div class="content">
							{{ item.content }}
						</div>
						{% if item.icons %}	
						<div class="icons">
							{% for icon in item.icons %}
							<img class="icon" src="{{ icon }}"/>
							{% endfor %}
						</div>
						{% endif %}
						{% if item.image %}
							<img class="image" src="{{ item.image }}"/>
						{% endif %}
					</div>
				{% endfor %}
			</div>

			<div class="logo">
				<span>Automatically generated with</span>
				<a target="_blank" href="http://takethejuice.com"><img src="/static/img/logo-w.svg"/></a>
				<a target="_blank" href="http://takethejuice.com"><small>http://takethejuice.com</small></a>
			</div>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5911c8ad46bf8abe"></script>
		<script>
			$(function(){
				jQuery('img.icon').each(function() {
					var $img = jQuery(this);
					var imgID = $img.attr('id');
					var imgClass = $img.attr('class');
					var imgURL = $img.attr('src');

					jQuery.get(imgURL, function (data) {
						var $svg = jQuery(data).find('svg');
						if (typeof imgID !== 'undefined') {
							$svg = $svg.attr('id', imgID);
						}
						if (typeof imgClass !== 'undefined') {
							$svg = $svg.attr('class', imgClass + ' replaced-svg');
						}

						$svg = $svg.removeAttr('xmlns:a');
						if (!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
							$svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
						}
						$img.replaceWith($svg);
					}, 'xml');
				});
			});
		</script>
	</body>
</html>