<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }} - TheJuice</title>
		<link rel="stylesheet" href="/static/style/templates/default.css"/>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="description" content="The juice helps teachers translate their knowledge into a language students understand">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/ico/favicon-16x16.png">
        <link rel="manifest" href="/static/img/ico/manifest.json">
        <link rel="mask-icon" href="/static/img/ico/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
		<PageMap>
			<DataObject type="thumbnail">
				<Attribute name="src" value="/static/img/ico/android-icon-192x192.png"/>
				<Attribute name="width" value="100"/>
				<Attribute name="height" value="130"/>
			</DataObject>
		</PageMap>

        <meta name="thumbnail" content="/static/img/ico/android-icon-192x192.png" />

        <!--facebook-->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ title }} - TheJuice">
        <meta property="og:description" content="Translating teachers knowledge to fit into pupils social media">
        <meta property="og:url" content="http://history.takethejuice.com/">

        <!--twitter-->
        <meta name="twitter:title" content="{{ title }} - TheJuice">
        <meta name="twitter:description" content="Translating teachers knowledge to fit into pupils social media">
        <meta name="twitter:card" content="summary_large_image">

		<!-- GA -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-92654268-3', 'auto');
			ga('send', 'pageview');
			ga('send', 'event', 'output', 'trivia', '{{ title }}');
		</script>

		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window,document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '950736555006881');
			fbq('track', 'PageView');
			fbq('track', 'output', {
				action: 'trivia',
				value: '{{ title }}'
			});
		</script>
		<noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=950736555006881&ev=PageView&noscript=1"/></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<div class="addthis_inline_share_toolbox"></div>
		</div>
		<div class="questions">
			<div class="header">
				<div class="text">
					{% set name = title.split(" ") %}
					<h1 class="name">{{ name[0] }}</h1>
					<h1 class="surname">{{ " ".join(name[1:]) }}</h1>
					<h3 class="trivia">Trivia</h3>
 				</div>
			</div>

			{% for question in questions %}
				<div class="question color{{ (loop.index0 % 6) + 1 }}">
					<div class="content">
						<div class="position">
							<span class="current">{{ loop.index }}</span>/{{ loop.length }}
						</div>
						<div class="text">{{ question['question'] }}</div>
						<form class="answers">
							{% set index = loop.index %}
							{% for answer in question.answers %}
								<div>
									<input id="question{{ index }}-{{ answer.name|lower }}" name="question{{ index }}" type="radio" value="{{ answer['name'] }}">
									<label for="question{{ index }}-{{ answer.name|lower }}" class="answer" data="{{ answer['correct'] }}">{{ answer['name'] }}</label>
								</div>
							{% endfor %}
						</form>
					</div>
				</div>
			{% endfor %}

			<div class="submit">
				<p>Introduce your email so we can send you the results of your test :)</p>
				<ul class="error" style="display: none;"></ul>
				<input type="email" name="studentEmail" id="studentEmail" placeholder="email">
				<input type="email" id="teacherEmail" style="display: none;" value="{{ teacher_email }}">
				<input type="text" id="url" style="display: none;" value="{{ url }}">
				<button>Send <i id="spinner" class="fa fa-circle-o-notch" style="display: none;"></i></button>
			</div>

			<div class="logo">
				<span>Automatically generated with</span>
				<a target="_blank" href="http://takethejuice.com"><img src="/static/img/logo.png"/></a>
				<a target="_blank" href="http://takethejuice.com"><small>http://takethejuice.com</small></a>
			</div>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5911c8ad46bf8abe"></script>
		<script src="/static/js/view.js"></script>
	</body>
</html>