<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Augusto Pinochet - TheJuice</title>
		<link rel="stylesheet" href="/static/style/infographic.css"/>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="description" content="The juice helps teachers translate their knowledge into a language students understand">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/ico/favicon-16x16.png">
        <link rel="manifest" href="/static/img/ico/manifest.json">
        <link rel="mask-icon" href="/static/img/ico/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
		<PageMap>
			<DataObject type="thumbnail">
				<Attribute name="src" value="/static/img/ico/android-icon-192x192.png"/>
				<Attribute name="width" value="100"/>
				<Attribute name="height" value="130"/>
			</DataObject>
		</PageMap>

        <meta name="thumbnail" content="/static/img/ico/android-icon-192x192.png" />

        <!--facebook-->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Augusto Pinochet - TheJuice">
        <meta property="og:description" content="Translating teachers knowledge to fit into pupils social media">
        <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/a/ad/Augusto_Pinochet_1971.jpg">
        <meta property="og:url" content="http://history.takethejuice.com/">

        <!--twitter-->
        <meta name="twitter:title" content="Augusto Pinochet - TheJuice">
        <meta name="twitter:description" content="Translating teachers knowledge to fit into pupils social media">
        <meta name="twitter:image" content="https://upload.wikimedia.org/wikipedia/commons/a/ad/Augusto_Pinochet_1971.jpg">
        <meta name="twitter:card" content="summary_large_image">
	</head>
	<body>
		<div class="wrapper">
			<div class="addthis_inline_share_toolbox"></div>
		</div>
		<div class="wrapper">
			<div class="header">
				
					<div class="image" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/Augusto_Pinochet_1971.jpg')"></div>
					<div class="text with-picture">
				
						
						<h1 class="name">Augusto</h1>
						<h1 class="surname">Pinochet</h1>
						<span class="date">1915 - 2006</span>
					</div>
			</div>

			
				
					<div class="item with-icon">
						<span class="date">1915</span>
						<img class="icon" src="/static/icons/born.png"/>
				
				
						<div class="content">
							Augusto Pinochet nació en 1915
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1925</span>
				
				
						<div class="content">
							Dos años después, mediante un nuevo plebiscito, cuya legitimidad también es cuestionada,  se aprobó la Constitución de 1980 en reemplazo de la Constitución de 1925, entre cuyas disposiciones se estableció un período presidencial de ocho años de duración, a partir del 11 de marzo del año siguiente.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1933</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/9/97/Peso_Chileno_1933.jpg"/>
				
				
						<div class="content">
							Luego estudió en el Instituto Rafael Ariztía de Quillota y en el Colegio de los Sagrados Corazones de Valparaíso, para entrar finalmente a la Escuela Militar del Libertador Bernardo O'Higgins en Santiago, el 11 de marzo de 1933, a los diecisiete años de edad.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1943</span>
				
				
						<div class="content">
							Contrajeron matrimonio el 30 de enero de 1943, pese a la oposición de sus padres, producto de la carrera militar del novio, que por entonces estaba alejada de los altos estratos sociales.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1960</span>
				
				
						<div class="content">
							A mediados de la década de 1960, viajó a Ecuador con su familia en una misión militar que tenía por objeto organizar la Academia de Guerra de dicho país.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1962</span>
				
				
						<div class="content">
							Mediante el Acuerdo de Charaña, firmado el 8 de febrero de 1975, ambos países restablecieron sus relaciones diplomáticas, interrumpidas desde 1962, y Chile se propuso otorgarle a Bolivia un corredor terrestre para la exportación marítima.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1964</span>
				
				
						<div class="content">
							Entre 1964 y 1968 fue subdirector y profesor de geopolítica en la Academia de Guerra.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1969</span>
				
				
						<div class="content">
							En 1969 fue ascendido a general de brigada, desempeñándose como comandante en jefe de la Sexta División y en 1971 fue promovido a general de división.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1970</span>
				
				
						<div class="content">
							Salvador Allende fue elegido presidente de Chile por el Congreso Nacional, el 24 de octubre de 1970, luego de haber obtenido la mayoría de votos en la elección del 4 de septiembre de ese año.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1971</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Augusto_Pinochet_1971.jpg"/>
				
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1973</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Golpe_de_Estado_1973.jpg"/>
				
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1973</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/a/ad/BNC-Junta_Militar_Chile_1973.jpg"/>
				
				
					</div>
			
				
					<div class="item">
						<span class="date">1974</span>
				
				
						<div class="content">
							Desde ese momento, Pinochet gobernó el país, primero como presidente de la Junta Militar de Gobierno, al que se sumó el título de Jefe Supremo de la Nación el 27 de junio de 1974, que le confirió el poder ejecutivo.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1976</span>
				
				
						<div class="content">
							Otra autoridad del gobierno de Salvador Allende asesinada durante la dictadura fue el exministro de Relaciones Exteriores, Orlando Letelier, quien, como Prats, murió por un coche bomba junto a la activista política Ronni Moffitt, el 21 de septiembre de 1976 en Washington D.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1978</span>
				
				
						<div class="content">
							Pinochet buscó legitimar su régimen en 1978, por medio de un cuestionado plebiscito nacional, el cual no se celebró en forma abierta ni transparente.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1979</span>
				
				
						<div class="content">
							Las relaciones con Reino Unido estuvieron rotas hasta 1979, año en que Margaret Thatcher asumió como Primer ministro de dicho país.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1980</span>
				
				
						<div class="content">
							El 16 de diciembre de ese año asumió como presidente de la República, cargo que sería ratificado tras un cuestionado plebiscito y la promulgación de una nueva constitución en 1980.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1981</span>
				
				
						<div class="content">
							Al contrario de Bolivia, las relaciones con Argentina fueron marcadamente hostiles, en especial durante el período de la dictadura de Jorge Rafael Videla (1976-1981).
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1982</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Pinochet_11-09-1982.JPG"/>
				
				
						<div class="content">
							Si bien la CNI como organismo represivo fue notoriamente menos violento que la DINA, algunos de sus agentes figuran como involucrados en casos emblemáticos, como el asesinato en 1982 de Tucapel Jiménez, líder sindical y presidente de la ANEF.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1983</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Margaret_Thatcher_%281983%29.jpg"/>
				
				
						<div class="content">
							El descontento de trabajadores, estudiantes y opositores de la dictadura generó a partir de 1983 masivas protestas nacionales y un fortalecimiento del desaparecido movimiento sindical, iniciativas que fueron violentamente reprimidas.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1984</span>
				
				
						<div class="content">
							En 1984 Pinochet designó como ministro de Hacienda a Luis Escobar Cerda, economista que se alejó momentáneamente de las ideas liberalizadoras de los Chicago Boys.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1985</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Protestas_Chile_1985.jpg"/>
				
				
						<div class="content">
							Fue trasladado al Hospital de San Agustín (demolido a causa del terremoto de 1985), donde se le diagnosticó tumor blanco en la rodilla y los médicos le dijeron que le amputarían la pierna.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1986</span>
				
				
						<div class="content">
							Este grupo paramilitar contó con el apoyo de la dictadura cubana de Fidel Castro, quien les proporcionó un cuantioso arsenal, el cual fue descubierto y requisado por las Fuerzas Armadas el 6 de agosto de 1986.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1987</span>
				
				
						<div class="content">
							Apenas iniciada la dictadura, la Junta Militar encabezada por Pinochet decretó un toque de queda que perduraría hasta el 2 de enero de 1987.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1988</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/0/00/Panfleto_S%C3%AD_para_plebiscito_de_1988_-_2.jpg"/>
				
				
						<div class="content">
							Su mandato acabó por la vía democrática con el plebiscito de 1988, tras el cual fue sustituido por Patricio Aylwin el 11 de marzo de 1990.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1989</span>
				
				
						<div class="content">
							De acuerdo con lo estipulado en la Constitución de 1980, en 1989 debía elegirse un nuevo mandatario para el país.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1991</span>
				
				
						<div class="content">
							De este modo, independientemente de que muchos acusados no pudiesen ser juzgados por sus crímenes, los resultados salieron a la luz en el llamado Informe Rettig el 8 de febrero de 1991.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1995</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/5/59/Augusto_Pinochet_-_1995.jpg"/>
				
				
						<div class="content">
							Esta vez las presiones del ejército se realizaron en 1995, a través de un «picnic» con los oficiales vestidos de civil a las afueras del Penal de Punta Peuco, donde cumplían condena militar algunos acusados por violaciones de los derechos humanos.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1997</span>
				
				
						<div class="content">
							Con este fin se convocó a un plebiscito nacional en 1988 para decidir si Pinochet podría ser elegido Presidente de la República por un nuevo período de ocho años, hasta diciembre de 1997.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1998</span>
				
				
						<div class="content">
							Pinochet se mantuvo como comandante en jefe del Ejército hasta el 10 de marzo de 1998 y al día siguiente asumió como senador vitalicio, cargo que ejerció efectivamente por un par de meses.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">2000</span>
				
				
						<div class="content">
							Finalmente, el 2 de marzo de 2000, el ministro de interior inglés Jack Straw decidió liberar a Pinochet, declarando que a juzgar por sus recientes exámenes médicos, no estaba en condiciones de ser juzgado.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">2001</span>
				
				
						<div class="content">
							El 12 de marzo de 2001 Juan Guzmán le concedió libertad bajo fianza, previo pago de 2 millones de pesos, pero acusando problemas de salud, durante los meses siguientes no fue posible realizarle el trámite necesario de filiación penal.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">2005</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/8/85/Jack_Straw_meeting_with_Rumsfeld_at_Pentagon%2C_May_19%2C_2005%2C_cropped.jpg"/>
				
				
						<div class="content">
							El ministro de la Corte de Apelaciones de Santiago, Sergio Muñoz, tramitó el caso hasta septiembre de 2005, para luego llegar a la Corte Suprema.
						</div>
				
					</div>
			
				
					<div class="item with-icon">
						<span class="date">2006</span>
						<img class="icon" src="/static/icons/dead.png"/>
				
				
						<div class="content">
							Augusto Pinochet murió en 2006
						</div>
				
					</div>
			

			<div class="logo">
				<img src="/static/img/logo.png"/>
			</div>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5911c8ad46bf8abe"></script>
	</body>
</html>