<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Joseph Stalin - TheJuice</title>
		<link rel="stylesheet" href="/static/style/infographic.css"/>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="description" content="The juice helps teachers translate their knowledge into a language students understand">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/ico/favicon-16x16.png">
        <link rel="manifest" href="/static/img/ico/manifest.json">
        <link rel="mask-icon" href="/static/img/ico/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
		<PageMap>
			<DataObject type="thumbnail">
				<Attribute name="src" value="/static/img/ico/android-icon-192x192.png"/>
				<Attribute name="width" value="100"/>
				<Attribute name="height" value="130"/>
			</DataObject>
		</PageMap>

        <meta name="thumbnail" content="/static/img/ico/android-icon-192x192.png" />

        <!--facebook-->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Joseph Stalin - TheJuice">
        <meta property="og:description" content="Translating teachers knowledge to fit into pupils social media">
        <meta property="og:image" content="None">
        <meta property="og:url" content="http://history.takethejuice.com/">

        <!--twitter-->
        <meta name="twitter:title" content="Joseph Stalin - TheJuice">
        <meta name="twitter:description" content="Translating teachers knowledge to fit into pupils social media">
        <meta name="twitter:image" content="None">
        <meta name="twitter:card" content="summary_large_image">

		<!-- GA -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-92654268-2', 'auto');
			ga('send', 'pageview');
			ga('send', 'event', 'output', 'infographic', Joseph Stalin);
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="addthis_inline_share_toolbox"></div>
		</div>
		<div class="wrapper">
			<div class="header">
				
					<div class="text">
				
						
						<h1 class="name">Joseph</h1>
						<h1 class="surname">Stalin</h1>
						<span class="date">18 December 1878 - 05 March 1953</span>
					</div>
			</div>

			
				
					<div class="item with-icon">
						<span class="date">18 December 1878</span>
						<img class="icon" src="/static/icons/born.png"/>
				
				
						<div class="content">
							Joseph Vissarionovich Stalin (/ˈstɑːlɪn/; 18 December 1878 – 5 March 1953) was a Georgian-Soviet revolutionary, politician and political theorist.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1884</span>
				
				
						<div class="content">
							Stalin faced several severe health problems; in 1884, he contracted smallpox and was left with facial pock scars.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1888</span>
				
				
						<div class="content">
							In late 1888, when Stalin was ten, he enrolled at the Gori Church School.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1892</span>
				
				
						<div class="content">
							The worst crop failure of late tsarist Russia, in 1892, had caused 375,000 to 400,000 deaths.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">July 1893</span>
				
				
						<div class="content">
							After passing his exams in July 1893, Stalin's teachers recommended him to the Tiflis Seminary.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">August 1894</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Stalin_1894.jpg"/>
				
				
						<div class="content">
							He enrolled at the school in August 1894, enabled by a scholarship that allowed him to study at a reduced rate.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">April 1899</span>
				
				
						<div class="content">
							In April 1899, Stalin left the seminary at the end of term and never returned, although the school encouraged him to come back.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">October 1899</span>
				
				
						<div class="content">
							In October 1899, Stalin began work as a meteorologist at a Tiflis observatory, a position that allowed him to read while on duty.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1900</span>
				
				
						<div class="content">
							He was involved in organising a secret mass meeting for May Day 1900, at which he successfully encouraged many of the men to take strike action.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1901</span>
				
				
						<div class="content">
							Remaining underground, he helped to plan a demonstration for May Day 1901, in which 3000 marchers clashed with the authorities.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">March 1901</span>
				
				
						<div class="content">
							They attempted to arrest him in March 1901, but he escaped and went into hiding, living off the donations of friends and sympathisers.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">November 1901</span>
				
				
						<div class="content">
							In November 1901, he was elected to the Tiflis Committee of the Russian Social Democratic Labour Party (RSDLP).
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">April 1902</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Stalin_1902.jpg"/>
				
				
						<div class="content">
							Stalin organised a second mass demonstration on the day of the funeral, before being was arrested in April 1902.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1903</span>
				
				
						<div class="content">
							In mid-1903, Stalin was sentenced to three years of exile in eastern Siberia.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">January 1905</span>
				
				
						<div class="content">
							In January 1905, government troops massacred protesters in St Petersburg.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1905</span>
				
				
						<div class="content">
							Unrest soon spread across the Russian Empire in what came to be known as the Revolution of 1905.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">November 1905</span>
				
				
						<div class="content">
							In November 1905, the Georgian Bolsheviks elected Stalin as one of their delegates to a Bolshevik conference due to be held in St.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1906</span>
				
				
						<div class="content">
							Stalin married his first wife Ekaterina Svanidze in 1906, with whom he had a son, Yakov.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">April 1906</span>
				
				
						<div class="content">
							In April 1906, Stalin attended the RSDLP Fourth Congress in Stockholm; this was his first trip outside the Russian Empire.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">July 1906</span>
				
				
						<div class="content">
							Stalin married Kato Svanidze in a church ceremony at Tskhakaya in July 1906.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1907</span>
				
				
						<div class="content">
							Here, he affiliated with Vladimir Lenin's Bolshevik faction and raised funds via underground activities such as the 1907 Tiflis bank robbery.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">June 1907</span>
				
				
						<div class="content">
							He attended the Fifth RSDLP Congress, held in London in May-June 1907.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">August 1907</span>
				
				
						<div class="content">
							In August 1907, he attended the Seventh Congress of the Second International in Stuttgard, Germany.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">November 1907</span>
				
				
						<div class="content">
							In November 1907, his wife had contracted typhus; he took her back to Tiflis, where she died.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1908</span>
				
				
						<div class="content">
							At some point in 1908 he travelled to the Swiss city of Geneva to meet with Lenin; he also met the Russian Marxist Georgi Plekhanov, who exasperated him.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">March 1908</span>
				
				
						<div class="content">
							In March 1908, Stalin was arrested and interred in Bailov Prison, where he led the imprisoned Bolsheviks, organised discussion groups, and ordered the killing of suspected informants.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">February 1909</span>
				
				
						<div class="content">
							He was eventually sentenced to two years exile in the village of Solvychegodsk, Vologda Province, arriving there in February 1909.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1910</span>
				
				
						<div class="content">
							Sometime between 1910 and 1912, he began using the alias "Stalin" in his writings.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">March 1910</span>
				
				
						<div class="content">
							In March 1910, he was arrested again, and sent back to Solvychegodsk.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1911</span>
				
				
						<div class="content">
							In 1911, he met his future second wife, Nadezhda Alliluyeva, during one of his many escapes from Siberia.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">June 1911</span>
				
				
						<div class="content">
							In June 1911, Stalin was given permission to move to Vologda, where he stayed for two months.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">September 1911</span>
				
				
						<div class="content">
							He proceeded to St Petersburg, where he was arrested in September 1911, and sentenced to a further three year exile in Vologda.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1912</span>
				
				
						<div class="content">
							In late 1912, he twice crossed into the Austro-Hungarian Empire to visit Lenin in Krakow.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">February 1912</span>
				
				
						<div class="content">
							In February 1912, Stalin escaped to St Petersburg, tasked with converting the Bolshevik weekly newspaper, Zvezda ("Star") into a daily, Pravda ("Truth").
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">April 1912</span>
				
				
						<div class="content">
							The new newspaper was launched in April 1912, although Stalin's role as editor was kept secret.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">May 1912</span>
				
				
						<div class="content">
							In May 1912, he was arrested again and imprisoned in the Shpalerhy Prison; in July he was sentenced to three years exile in Siberia.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">October 1912</span>
				
				
						<div class="content">
							After the October 1912 Duma elections resulted in six Bolsheviks and six Mensheviks being elected, Stalin wrote articles calling for reconciliation between the two Marxist factions, for which he was criticised by Lenin.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1917</span>
				
				
						<div class="content">
							After the October Revolution of 1917 brought the Bolsheviks to power, Stalin was one of the seven members of the first Politburo during the Russian Civil War.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">April 1917</span>
				
				
						<div class="content">
							However, after Lenin prevailed at the April 1917 Communist Party conference, Stalin and Pravda shifted to opposing the provisional government.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">October 1917</span>
				
				
						<div class="content">
							In October 1917, the Bolshevik Central Committee voted in favor of an insurrection.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1918</span>
				
				
						<div class="content">
							Conflicts began with the Soviet westward offensive of 1918-19 and continued with what became known as the Polish–Soviet War of 1919–1921.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">May 1918</span>
				
				
						<div class="content">
							In May 1918, Lenin dispatched Stalin to the city of Tsaritsyn.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">May 1919</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/5/54/Stalin-Lenin-Kalinin-1919.jpg"/>
				
				
						<div class="content">
							In May 1919, in order to stem mass desertions on the front, Stalin had deserters and renegades publicly executed as traitors.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1920</span>
				
				
						<div class="content">
							He governed the Soviet Union from the mid-1920s until his death in 1953.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">August 1920</span>
				
				
						<div class="content">
							In August 1920 Stalin returned to Moscow, where he defended himself and resigned his military command.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">25 August 1920</span>
				
				
						<div class="content">
							Tukhachevsky's forces engaged those of Polish commanders Józef Piłsudski and Władysław Sikorski at the pivotal Battle of Warsaw (12–25 August 1920), but Stalin refused to redirect his troops from Lwów to help Tukhachevsky.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">December 1922</span>
				
				
						<div class="content">
							Lenin suffered strokes in May and December 1922, forcing him into semi-retirement in Gorki.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1924</span>
				
				
						<div class="content">
							Despite Lenin's objection, power became consolidated around Stalin and opposition was removed following Lenin's death in 1924.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1926</span>
				
				
						<div class="content">
							In 1933 workers' real earnings fell to about one-tenth of the 1926 level.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1927</span>
				
				
						<div class="content">
							However, Chiang quickly reversed the tables in the Shanghai massacre of 1927 by massacring the membership of the Communist party in Shanghai midway through the Northern Expedition.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1929</span>
				
				
						<div class="content">
							According to official Soviet estimates, more than 14 million people passed through the Gulag from 1929 to 1953, with a further 7 to 8 million being deported and exiled to remote areas of the Soviet Union (including entire nationalities in several cases).
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">November 1929</span>
				
				
						<div class="content">
							Nikolai Bukharin and Premier Alexey Rykov opposed these policies and advocated a return to the NEP, but the rest of the Politburo sided with Stalin and removed Bukharin from the Politburo in November 1929.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1930</span>
				
				
						<div class="content">
							In the 1930s near-absolute power was consolidated by Stalin as head of the Politburo of the Central Committee of the Communist Party of the Soviet Union, with a Great Purge of the party that was justified as an attempt to expel "opportunists" and "counter-revolutionary infiltrators".
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1931</span>
				
				
						<div class="content">
							According to British historian Alan Bullock, "the total Soviet grain crop was no worse than that of 1931 .
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1932</span>
				
				
						<div class="content">
							Other historians hold it was largely the insufficient harvests of 1931 and 1932 caused by a variety of natural disasters that resulted in famine, with the successful harvest of 1933 ending the famine.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1933</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/7/72/Children_are_digging_up_frozen_potatoes_in_the_field_of_a_collective_farm._Udachne_village%2C_Donec%E2%80%99k_oblast._1933.jpg"/>
				
				
						<div class="content">
							These rapidly transformed the country from an agrarian society into an industrial power, but disrupted food production and contributed to the famine of 1933–34.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1934</span>
				
				
						<div class="content">
							Between 1934 and 1939, Stalin organised the "Great Purge", in which millions of so-called "enemies of the working class", including senior political and military figures, were interned in Gulag-run prisons, exiled or executed, often without due process.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">December 1934</span>
				
				
						<div class="content">
							In December 1934, the popular Communist Party boss in Leningrad, Sergei Kirov, was murdered.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1936</span>
				
				
						<div class="content">
							In 1936, Stalin announced that the society of the Soviet Union consisted of two non-antagonistic classes: workers and kolkhoz peasantry.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1937</span>
				
				
						<div class="content">
							With the exception of Vladimir Milyutin (who died in prison in 1937) and Joseph Stalin himself, all of the members of Lenin's original cabinet who had not succumbed to death from natural causes before the purge were executed or assassinated.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1938</span>
				
				
						<div class="content">
							With no serious opponents left in power, the purges were ended in 1938.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">August 1939</span>
				
				
						<div class="content">
							In August 1939 Stalin entered a non-aggression pact with Nazi Germany, resulting in their invasion of Poland in September of that year.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">23 August 1939</span>
				
				
						<div class="content">
							After talks with Germany regarding a potential political deal, on 23 August 1939, the Soviet Union entered into a non-aggression pact with Nazi Germany, negotiated by Soviet foreign minister Vyacheslav Molotov and German foreign minister Joachim von Ribbentrop.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">September 1939</span>
				
				
						<div class="content">
							The eastern part of Poland, Latvia, Estonia, Finland and part of Romania were recognized as parts of the Soviet sphere of influence, with Lithuania added in a second secret protocol in September 1939.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">01 September 1939</span>
				
				
						<div class="content">
							On 1 September 1939, the German invasion of its agreed upon portion of Poland started World War II.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1940</span>
				
				
						<div class="content">
							One of the most notable examples of Stalin's capability to integrate secret police and foreign espionage came in 1940, when he gave approval to the secret police to have Leon Trotsky assassinated in Mexico.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">05 March 1940</span>
				
				
						<div class="content">
							After taking around 300,000 Polish prisoners in 1939 and early 1940, 25,700 Polish POWs were executed on 5 March 1940, pursuant to a note to Stalin from Lavrenty Beria, in what became known as the Katyn massacre.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">June 1940</span>
				
				
						<div class="content">
							After Stalin declared that he was going to "solve the Baltic problem", by June 1940, Lithuania, Latvia and Estonia were merged into the Soviet Union, after repressions and actions therein brought about the deaths of over 160,000 citizens of these states.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">August 1940</span>
				
				
						<div class="content">
							In August 1940, Trotsky was assassinated in Mexico, where he had lived in exile since January 1937; this eliminated the last of the opponents of Stalin among the former Party leadership.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">October 1940</span>
				
				
						<div class="content">
							After the Tripartite Pact was signed by Axis Powers Germany, Japan and Italy, in October 1940, Stalin traded letters with Ribbentrop, with Stalin writing about entering an agreement regarding a "permanent basis" for their "mutual interests.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1941</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/1/11/Latvia_deportation_1941.jpg"/>
				
				
						<div class="content">
							In this capacity, he served as the Premier of the Soviet Union from 1941 to 1953 and as General Secretary of the Central Committee of the Communist Party of the Soviet Union from 1922 to 1952.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">13 April 1941</span>
				
				
						<div class="content">
							In an effort to demonstrate peaceful intentions toward Germany, on 13 April 1941, Stalin oversaw the signing of a neutrality pact with Axis power Japan.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">June 1941</span>
				
				
						<div class="content">
							In June 1941, weeks after the German invasion began, Stalin also directed employing a scorched earth policy of destroying the infrastructure and food supplies of areas before the Germans could seize them, and that partisans were to be set up in evacuated areas.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">22 June 1941</span>
				
				
						<div class="content">
							In the early morning of 22 June 1941, Adolf Hitler broke the pact by implementing Operation Barbarossa, the German invasion of the Soviet Union that began the war on the Eastern Front.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">December 1941</span>
				
				
						<div class="content">
							By December 1941, Hitler's troops had advanced to within 20 miles (30 km) of the Kremlin in Moscow.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1942</span>
				
				
						<div class="content">
							The British agreed to assistance but refused to agree upon the territorial gains, which Stalin accepted months later as the military situation deteriorated somewhat in mid-1942.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">July 1942</span>
				
				
						<div class="content">
							In July 1942, Hitler praised the efficiency of the Soviet military industry and Stalin:Stalin, too, must command our unconditional respect.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">November 1942</span>
				
				
						<div class="content">
							By November 1942, the Soviets had begun to repulse the important German strategic southern campaign and, although there were 2.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1943</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Teheran_conference-1943.jpg"/>
				
				
						<div class="content">
							The CPSU Central Committee continued to promote atheism and the prohibition of religion during the remainder of Stalin's lifetime after the 1943 concordat.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">04 September 1943</span>
				
				
						<div class="content">
							On 4 September 1943, Stalin invited Metropolitan Sergius, Metropolitan Alexius and Metropolitan Nicholas to the Kremlin and proposed to reestablish the Moscow Patriarchate, which had been suspended since 1925, and elect the Patriarch.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">08 September 1943</span>
				
				
						<div class="content">
							On 8 September 1943, Metropolitan Sergius was elected patriarch.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">November 1943</span>
				
				
						<div class="content">
							In November 1943, Stalin met with Churchill and Roosevelt in Tehran.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1944</span>
				
				
						<div class="content">
							In 1944, Stalin's name was included in the new Soviet national anthem.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">May 1944</span>
				
				
						<div class="content">
							The parties later agreed that Britain and America would launch a cross-channel invasion of France in May 1944, along with a separate invasion of southern France.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">1945</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/0/07/Allies_at_the_Brandenburg_Gate%2C_1945.jpg"/>
				
				
						<div class="content">
							From 1942 to 1945, 427,910 soldiers were assigned to penal battalions.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">February 1945</span>
				
				
						<div class="content">
							In February 1945, at the conference at Yalta, Stalin demanded a Soviet sphere of political influence in Eastern Europe.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">05 April 1945</span>
				
				
						<div class="content">
							On 5 April 1945, the Soviet Government officially denounced the Soviet–Japanese Neutrality Pact.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">May 1945</span>
				
				
						<div class="content">
							Despite initial setbacks, the Soviet Red Army halted the German incursion and captured Berlin in May 1945, ending World War II in Europe.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">June 1945</span>
				
				
						<div class="content">
							Then at the Potsdam conference in June 1945, the Soviet Union reaffirmed its agreement to declare war on Japan and did so on and on 8 August, three months after Germany's surrender.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">July 1945</span>
				
				
						<div class="content">
							By July 1945, Stalin's troops effectively controlled the Baltic States, Poland, Czechoslovakia, Hungary, Bulgaria, and Romania, and refugees were fleeing out of these countries fearing a Communist take-over.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">August 1945</span>
				
				
						<div class="content">
							At the Potsdam Conference from July to August 1945, though Germany had surrendered months earlier, instead of withdrawing Soviet forces from Eastern European countries, Stalin had not moved those forces.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">October 1945</span>
				
				
						<div class="content">
							He suffered from atherosclerosis from his heavy smoking, a mild stroke around the time of the Victory Parade, and a severe heart attack in October 1945.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">January 1947</span>
				
				
						<div class="content">
							The fraudulent Polish elections, held in January 1947 resulted in Poland's official transformation to undemocratic communist state by 1949.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">July 1947</span>
				
				
						<div class="content">
							In July 1947, Stalin ordered these communist-dominated governments to pull out of the Paris Conference on the European Recovery Programme.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">1948</span>
				
				
						<div class="content">
							Weitz wrote, "By 1948, according to Nicolas Werth, the mortality rate of the 600,000 people deported from the Caucasus between 1943 and 1944 had reached 25%.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">February 1948</span>
				
				
						<div class="content">
							Falsifiers originally appeared as a series of articles in Pravda in February 1948, and was subsequently published in numerous languages and distributed worldwide.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">June 1948</span>
				
				
						<div class="content">
							In Berlin, after citizens strongly rejected communist candidates in an election, in June 1948, the Soviet Union blockaded West Berlin, the portion of Berlin not under Soviet control, cutting off all supply of food and other items.
						</div>
				
					</div>
			
				
					<div class="item">
						<span class="date">07 October 1949</span>
				
				
						<div class="content">
							The German Democratic Republic was declared on 7 October 1949, with a new constitution which enshrined socialism and gave the Soviet-controlled Socialist Unity Party (SED) control.
						</div>
				
					</div>
			
				
					<div class="item with-image">
						<span class="date">25 June 1950</span>
						<img class="image" src="https://upload.wikimedia.org/wikipedia/commons/8/85/Chinese_stamp_in_1950_edit.jpg"/>
				
				
						<div class="content">
							The North Korean Army struck in the pre-dawn hours of Sunday, 25 June 1950, crossing the 38th parallel behind a firestorm of artillery, beginning their invasion of South Korea.
						</div>
				
					</div>
			
				
					<div class="item with-icon">
						<span class="date">05 March 1953</span>
						<img class="icon" src="/static/icons/dead.png"/>
				
				
						<div class="content">
							Joseph Stalin died in 05 March 1953
						</div>
				
					</div>
			

			<div class="logo">
				<img src="/static/img/logo.png"/>
			</div>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5911c8ad46bf8abe"></script>
	</body>
</html>