@import url("https://fonts.googleapis.com/css?family=Raleway:200,400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fff;
  color: #111;
  font-size: 16px;
  font-family: 'Raleway', sans-serif; }

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

.columns {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto; }

.columns .left-col {
  width: 68%;
  display: inline-block;
  vertical-align: top; }

.columns .right-col {
  width: 27%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%; }

.button {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
  text-align: center;
  background: #000000;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #000000;
  font-family: 'Raleway', sans-serif;
  transition: all .2s ease-in-out; }

.button.outline {
  background: #ffffff;
  color: #000000; }

.button:hover,
.button:active,
.button.outline:hover,
.button.outline:active {
  background: #333333;
  border-color: #333333;
  color: #ffffff; }

.button .icon {
  margin: 0 5px;
  font-size: inherit; }

/**
	General
 */
.header {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  background: #333333;
  color: white;
  padding: 1vh 0;
  font-size: 0;
  box-shadow: 0 5px 10px -8px #000; }
  .header .wrapper > * {
    font-size: initial; }
  .header .main-logo {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    height: 40px;
    padding: 5px 0; }
    .header .main-logo img {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: 30px; }
  .header .feedback {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    height: 40px;
    padding: 5px 0;
    text-align: center; }
    .header .feedback .button {
      display: inline-block;
      vertical-align: top;
      width: auto;
      heiight: auto;
      padding: 5px 15px;
      color: #ccc;
      background: transparent;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: .8em;
      line-height: 20px;
      transition: all .2s ease-in-out; }
      .header .feedback .button:hover, .header .feedback .button:active {
        color: white;
        border-color: white; }
  .header .usermenu {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 33.33%;
    height: 40px;
    text-align: right; }
    .header .usermenu .picture {
      display: inline-block;
      vertical-align: top;
      width: 40px;
      height: 40px;
      position: relative;
      border-radius: 50%;
      overflow: hidden; }
      .header .usermenu .picture img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .header .usermenu .username {
      display: inline-block;
      vertical-align: top;
      width: auto;
      line-height: 40px;
      padding: 0 10px; }
    .header .usermenu .toggleMenu {
      display: inline-block;
      vertical-align: top;
      width: 20px;
      line-height: 40px;
      text-align: center;
      transition: all .2s ease-in-out;
      cursor: pointer; }
      .header .usermenu .toggleMenu:hover, .header .usermenu .toggleMenu:active {
        background: #000000; }
    .header .usermenu .menu {
      display: block;
      vertical-align: top;
      position: absolute;
      top: calc(100% + 1vh);
      right: 0;
      width: auto;
      height: auto;
      background: white;
      border: 1px solid #ccc;
      border-top: none;
      overflow: hidden;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      list-style: none;
      padding: 5px 10px; }
      .header .usermenu .menu li, .header .usermenu .menu li a {
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: auto; }
      .header .usermenu .menu li a {
        padding: 5px 10px;
        transition: all .2s ease-in-out;
        color: #111;
        text-decoration: none; }
        .header .usermenu .menu li a:hover, .header .usermenu .menu li a:active {
          background: #ddd; }

.steps {
  padding: 50px 0;
  font-size: 0; }
  .steps > * {
    font-size: initial; }
  .steps .go-button {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: auto; }
    .steps .go-button.go-forward {
      text-align: right; }
      .steps .go-button.go-forward a {
        color: white;
        background: #000000;
        box-shadow: 0 5px 3px #f2f2f2; }
        .steps .go-button.go-forward a:hover, .steps .go-button.go-forward a:active {
          background: #333333; }
    .steps .go-button a {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: auto;
      padding: 5px 15px;
      margin: 5px 0;
      line-height: 30px;
      color: black;
      text-transform: none;
      text-decoration: none;
      border-radius: 3px;
      transition: all .2s ease-in-out;
      cursor: pointer; }
      .steps .go-button a:hover, .steps .go-button a:active {
        background: #f3f3f3; }
      .steps .go-button a i {
        margin: 0 1vw; }
  .steps .bubbles {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    height: auto;
    text-align: center;
    list-style: none; }
    .steps .bubbles.single {
      margin-left: 20%; }
    .steps .bubbles .bubble {
      display: inline-block;
      veritcal-align: top;
      padding: 0 1vw;
      line-height: 50px;
      color: #bbbbbb; }
      .steps .bubbles .bubble.active .number {
        background: #000000;
        color: white;
        font-weight: bold;
        border: none; }
      .steps .bubbles .bubble.active .title {
        color: black; }
      .steps .bubbles .bubble .number {
        display: inline-block;
        vertical-align: top;
        width: 50px;
        height: 50px;
        line-height: 46px;
        text-align: center;
        border: 2px solid #bbbbbb;
        border-radius: 50%; }
      .steps .bubbles .bubble .title {
        padding: 0 1vw; }

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out; }
  .spinner.show {
    opacity: 1;
    visibility: visible; }
  .spinner .spinner-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 450px; }
    .spinner .spinner-inner img {
      display: inline-block;
      vertical-align: top; }
    .spinner .spinner-inner p {
      display: block;
      padding: 10px 25px;
      font-size: 26px;
      line-height: 40px; }

.notification {
  position: absolute;
  top: 50px;
  left: 50px;
  background: #e74c3c;
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
  padding: 15px 25px;
  max-width: 300px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 3px #f7e4e4;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out; }
  .notification.show {
    opacity: 1;
    visibility: visible; }
  .notification p {
    display: inline-block; }

/* Login */
.login-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100vw;
  height: 85vh;
  background-image: url("/static/img/background-login.jpg");
  z-index: 0; }
  .login-main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7));
    z-index: -1; }
  .login-main .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    transform: translate(-50%, -50%); }
    .login-main .inner .login-header {
      display: inline-block;
      vertical-align: top;
      width: auto;
      height: auto; }
      .login-main .inner .login-header .main-logo {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 4vh 10vw;
        white-space: nowrap; }
        .login-main .inner .login-header .main-logo img {
          height: 6vh; }
        .login-main .inner .login-header .main-logo span {
          display: inline-block;
          vertical-align: bottom;
          font-size: 4vh;
          color: white;
          line-height: 6vh;
          margin: 0 1vw; }
      .login-main .inner .login-header .login-disclaimer {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: auto;
        padding: 4vh 10vw;
        font-size: 3.5vh;
        line-height: 5vh;
        color: white;
        max-width: 900px; }
    .login-main .inner .login-form {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      padding: 4vh 10vw; }
      .login-main .inner .login-form .button {
        padding: 2.5vh;
        font-size: 20px;
        color: black;
        background: white;
        border: none;
        font-weight: 400;
        box-shadow: 0 10px 25px -15px #000;
        transition: all .2s ease-in-out; }
        .login-main .inner .login-form .button:hover, .login-main .inner .login-form .button:active {
          background: #eee; }
    .login-main .inner .login-steps {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: auto;
      padding: 4vh 10vw;
      font-size: 0;
      text-align: center; }
      .login-main .inner .login-steps > * {
        font-size: initial; }
      .login-main .inner .login-steps .step {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 31%;
        margin: 0 1%;
        padding: 2vh 1vw;
        color: white;
        font-size: 18px; }
        .login-main .inner .login-steps .step > * {
          display: block;
          margin: 1vh 0; }
        .login-main .inner .login-steps .step .step-icon {
          font-size: 40px; }
        .login-main .inner .login-steps .step .step-number {
          font-weight: bold; }

.login-footer {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  height: 15vh;
  background: white; }
  .login-footer .brand {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    text-align: center; }
    .login-footer .brand p {
      line-height: 30px;
      font-size: 16px; }
      .login-footer .brand p a {
        text-decoration: none;
        color: #0085AC;
        font-weight: bold; }

/* Home */
.index {
  padding: 50px 0 100px;
  text-align: center; }
  .index .disclaimer {
    font-size: 1.5em;
    font-weight: 200;
    padding: 20px 0; }
  .index .search-form, .index .login-form {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    max-width: 640px;
    margin: 2vh 0;
    font-size: 0; }
    .index .search-form input.query, .index .login-form input.query {
      display: inline-block;
      vertical-align: top;
      width: 67%;
      height: 50px;
      margin: 0 3% 0 0;
      padding: 10px 20px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      color: #333333;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      outline: none;
      box-sizing: border-box;
      box-shadow: 0px 5px 3px #f2f2f2; }
    .index .search-form .button, .index .login-form .button {
      width: 30%;
      height: 50px;
      box-shadow: 0px 5px 3px #f2f2f2; }
    .index .search-form .languages, .index .login-form .languages {
      display: inline-block;
      width: 100%;
      margin: 10px 0;
      height: 30px;
      text-align: center; }
      .index .search-form .languages input, .index .login-form .languages input {
        position: absolute;
        opacity: 0;
        visibility: hidden; }
        .index .search-form .languages input:checked + label, .index .login-form .languages input:checked + label {
          background: #eee; }
      .index .search-form .languages label, .index .login-form .languages label {
        display: inline-block;
        vertical-align: top;
        text-transform: uppercase;
        color: #333333;
        background: transparent;
        width: auto;
        height: 30px;
        padding: 3px 5px;
        margin: 0 5px;
        font-size: initial;
        text-align: center;
        cursor: pointer;
        line-height: 24px;
        border-radius: 3px; }
        .index .search-form .languages label img, .index .login-form .languages label img {
          display: inline-block;
          vertical-align: top;
          height: 24px; }
    .index .search-form .results, .index .login-form .results {
      position: absolute;
      display: block;
      margin-top: -1px;
      vertical-align: top;
      width: 67%;
      height: auto;
      max-height: 150px;
      overflow-y: auto;
      border: 1px solid #dddddd;
      z-index: 1; }
      .index .search-form .results .item, .index .login-form .results .item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: auto;
        padding: 10px 20px;
        font-size: initial;
        text-align: left;
        background: white;
        cursor: pointer;
        transition: all .2s ease-in-out; }
        .index .search-form .results .item:hover, .index .search-form .results .item:active, .index .search-form .results .item.current, .index .login-form .results .item:hover, .index .login-form .results .item:active, .index .login-form .results .item.current {
          background: #333333;
          color: white; }

/**
	Pills
 */
.pills {
  /* Preview */
  /* Edit Popup */ }
  .pills .preview {
    margin-bottom: 100px; }
    .pills .preview .preview-header {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: auto;
      font-size: 0;
      padding: 1vh 0 2vh; }
      .pills .preview .preview-header .info {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: auto;
        font-size: 16px; }
        .pills .preview .preview-header .info h1 {
          line-height: 40px;
          font-weight: 400;
          padding: 2vh 0; }
        .pills .preview .preview-header .info p {
          width: 50%; }
    .pills .preview .preview-table {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: auto;
      font-size: initial;
      border-collapse: separate; }
      .pills .preview .preview-table tr {
        display: inline-table;
        margin: 1vh 0;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: all .2s ease-in-out; }
        .pills .preview .preview-table tr:hover {
          box-shadow: 0 5px 10px -9px #000; }
        .pills .preview .preview-table tr td {
          padding: 1vh 2vw;
          font-size: small;
          border-right: 1px solid #ddd; }
          .pills .preview .preview-table tr td.date {
            width: 15%; }
          .pills .preview .preview-table tr td.content {
            width: 50%; }
            .pills .preview .preview-table tr td.content .answers {
              width: 100%;
              margin: 1em 0 .5em; }
              .pills .preview .preview-table tr td.content .answers .answer {
                display: inline-block;
                width: 25%; }
                .pills .preview .preview-table tr td.content .answers .answer.correct {
                  color: #2ecc71; }
          .pills .preview .preview-table tr td.media {
            width: 10%;
            text-align: center;
            padding: 0 1vw; }
            .pills .preview .preview-table tr td.media img {
              width: auto;
              height: auto;
              max-width: 100%;
              max-height: 60px; }
          .pills .preview .preview-table tr td.actions {
            width: 20%;
            text-align: center;
            border: none;
            font-size: 0; }
            .pills .preview .preview-table tr td.actions span.action {
              display: inline-block;
              vertical-align: top;
              width: 48%;
              height: auto;
              padding: 1vh .5vw;
              margin: 0 1%;
              font-size: small;
              cursor: pointer;
              transition: all .2s ease-in-out;
              border-radius: 3px; }
              .pills .preview .preview-table tr td.actions span.action:hover, .pills .preview .preview-table tr td.actions span.action:active {
                background: #f4f4f4; }
          .pills .preview .preview-table tr td:last-child {
            text-align: center;
            border: none;
            cursor: pointer; }
    .pills .preview .footer {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 0;
      margin: 2vh 0;
      text-align: right; }
      .pills .preview .footer .button {
        box-shadow: 0px 5px 3px #f2f2f2; }
        .pills .preview .footer .button i {
          margin: 0 1vw; }
  .pills .edit-popup {
    display: inline-block;
    vertical-align: top;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out; }
    .pills .edit-popup.hidden {
      opacity: 0;
      visibility: hidden; }
    .pills .edit-popup .edit-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 600px;
      height: auto;
      max-height: 90%;
      overflow-y: auto;
      padding: 2vh 3vw;
      background: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 5px 10px -5px #000;
      font-size: 0; }
      .pills .edit-popup .edit-form input, .pills .edit-popup .edit-form textarea {
        display: block;
        vertical-align: top;
        padding: 1vh 1vw;
        font-family: 'Raleway';
        border-radius: 3px;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        outline: none;
        box-sizing: border-box;
        box-shadow: 0px 5px 3px #f2f2f2;
        border: 1px solid #ccc;
        width: 100%;
        margin: 1vh 0; }
      .pills .edit-popup .edit-form textarea {
        max-width: 100%;
        min-height: 100px; }
      .pills .edit-popup .edit-form h3 {
        font-size: medium; }
      .pills .edit-popup .edit-form .answers {
        margin-top: 2vh;
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        padding-top: 1vh; }
      .pills .edit-popup .edit-form button {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin: 1vh 10% 1vh 0;
        padding: 1vh 0;
        text-align: center;
        outline: 0;
        border: 1px solid #ccc;
        background: white;
        border-radius: 4px;
        box-shadow: 0px 5px 10px #f2f2f2;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        transition: all .2s ease-in-out;
        cursor: pointer; }
        .pills .edit-popup .edit-form button:hover, .pills .edit-popup .edit-form button:active {
          background: #f4f4f4; }
        .pills .edit-popup .edit-form button.save {
          background: #333333;
          color: white;
          margin-right: 0;
          border-color: transparent; }
          .pills .edit-popup .edit-form button.save:hover, .pills .edit-popup .edit-form button.save:active {
            background: #000000; }

/* Design */
.design {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto; }
  .design .command {
    line-height: 40px;
    font-weight: 400;
    padding: 2vh 0; }
  .design .templates-list {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
    list-style: none;
    font-size: 0; }
    .design .templates-list > * {
      font-size: initial; }
    .design .templates-list .template {
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin: 2vh 1.5%; }
      .design .templates-list .template input {
        display: none; }
        .design .templates-list .template input:checked + label {
          box-shadow: 0 4px 10px -5px #000; }
          .design .templates-list .template input:checked + label .indicator {
            background: #2ecc71; }
      .design .templates-list .template label {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 100%;
        transition: all .2s ease-in-out;
        border: 1px solid #ddd;
        border-radius: 4px; }
        .design .templates-list .template label:hover, .design .templates-list .template label:active {
          box-shadow: 0 4px 10px -5px #000; }
        .design .templates-list .template label .indicator {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #2c3e50;
          text-align: center;
          line-height: 30px;
          color: white;
          transition: all .2s ease-in-out;
          z-index: 1; }
        .design .templates-list .template label .thumbnail {
          width: 100%;
          height: auto;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px; }
        .design .templates-list .template label .name {
          display: block;
          text-align: center;
          padding: 1vh 1vw; }

@media screen and (max-width: 600px) {
  .index .search-form input {
    width: 100%;
    margin: 0 0 30px; }
  .index .search-form .button {
    width: 50%; } }

/*# sourceMappingURL=style.css.map */
