@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

$main: #4caf50;
$main_dark: #2c8630;
$main_blue: #0085AC;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	color: #111;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.columns {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
}

.columns .left-col {
    width: 68%;
    display: inline-block;
    vertical-align: top;
}

.columns .right-col {
    width: 27%;
    display: inline-block;
    vertical-align: top;
	margin-left: 5%;
}

.button {
	display: inline-block;
    vertical-align: top;
	width: auto;
    height: auto;
    text-align: center;
	background: $main;
    font-size: 16px;
    color: #ffffff;
	text-decoration: none;
	text-transform: none;
    border-radius: 3px;
    cursor: pointer;
	outline: none;
	padding: 10px 20px;
	box-sizing: border-box;
	border: 1px solid $main;
	font-family: 'Raleway', sans-serif;
	transition: all .2s ease-in-out;
}

.button.outline {
	background: #ffffff;
	color: $main;
}

.button:hover,
.button:active,
.button.outline:hover,
.button.outline:active {
	background: $main_dark;
	border-color: $main_dark;
	color: #ffffff;
}

.button .icon {
	margin: 0 5px;
	font-size: inherit;
}

/**
	General
 */
.header {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto;
	background: $main_dark;
	color: white;
	padding: 1vh 0;
	font-size: 0;
	box-shadow: 0 5px 10px -8px #000;
	& .wrapper > * {font-size: initial;}
	.main-logo {
		display: inline-block;
		vertical-align: top;
		width: 33.33%;
		height: 40px;
		padding: 5px 0;
		img {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: 30px;
		}
	}

	.feedback {
		display: inline-block;
		vertical-align: top;
		width: 33.33%;
		height: 40px;
		padding: 5px 0;
		text-align: center;

		.button {
			display: inline-block;
			vertical-align: top;
			width: auto;
			heiight: auto;
			padding: 5px 15px;
			color: #ccc;
			background: transparent;
			border: 1px solid #ccc;
			border-radius: 3px;
			font-size: .8em;
			line-height: 20px;
			transition: all .2s ease-in-out;
			&:hover, &:active {
				color: white;
				border-color: white;
			}
		}
	}

	.usermenu {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 33.33%;
		height: 40px;
		text-align: right;
		.picture {
			display: inline-block;
			vertical-align: top;
			width: 40px;
			height: 40px;
			position: relative;
			border-radius: 50%;
			overflow: hidden;
			img {
				position: absolute;
				top: 0; left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.username {
			display: inline-block;
			vertical-align: top;
			width: auto;
			line-height: 40px;
			padding: 0 10px;
		}

		.toggleMenu {
			display: inline-block;
			vertical-align: top;
			width: 20px;
			line-height: 40px;
			text-align: center;
			transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover, &:active {background: $main;}
		}

		.menu {
			display: block;
			vertical-align: top;
			position: absolute;
			top: calc(100% + 1vh);
			right: 0;
			width: auto;
			height: auto;
			background: white;
			border: 1px solid #ccc;
			border-top: none;
			overflow: hidden;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			list-style: none;
			padding: 5px 10px;

			li, li a {
				display: inline-block;
				vertical-align: top;
				width: auto;
				height: auto;
			}

			li a {
				padding: 5px 10px;
				transition: all .2s ease-in-out;
				color: #111;
				text-decoration: none;
				&:hover, &:active {background: #ddd;}
			}
		}
	}
}

.steps {
    padding: 50px 0;
	font-size: 0;
	& > * {font-size: initial;}

	.go-button {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		height: auto;
		&.go-forward {
			text-align: right;
			a {
				color: white;
				background: $main;
				box-shadow: 0 5px 3px #f2f2f2;
				&:hover, &:active {background: $main_dark;}
			}
		}

		a {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			padding: 5px 15px;
			margin: 5px 0;
			line-height: 30px;
    		color: black;
			text-transform: none;
			text-decoration: none;
			border-radius: 3px;
			transition: all .2s ease-in-out;
			cursor: pointer;
			&:hover, &:active {background: #f3f3f3;}

			i {margin: 0 1vw;}
		}
	}

	.bubbles {
		display: inline-block;
		vertical-align: top;
		width: 60%;
		height: auto;
		&.single {margin-left: 20%;}

		text-align: center;
		list-style: none;

		.bubble {
			display: inline-block;
			veritcal-align: top;
			padding: 0 1vw;
			line-height: 50px;
			color: #bbbbbb;
			&.active {
				.number {
					background: $main;
					color: white;
					font-weight: bold;
					border: none;
				}
				.title {color: black;}
			}

			.number {
				display: inline-block;
				vertical-align: top;
				width: 50px;
				height: 50px;
				line-height: 46px;
				text-align: center;
				border: 2px solid #bbbbbb;
				border-radius: 50%;
			}

			.title {padding: 0 1vw;}
		}
	}
}

.spinner {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-in-out;
	&.show {
		opacity: 1;
		visibility: visible;
	}
	.spinner-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%);
		text-align: center;
		max-width: 450px;
		img {
			display: inline-block;
			vertical-align: top;
		}
		p {
			display: block;
			padding: 10px 25px;
			font-size: 26px;
			line-height: 40px;
		}
	}
}

.notification {
	position: absolute;
    top: 50px;
    left: 50px;
    background: #e74c3c;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    padding: 15px 25px;
    max-width: 300px;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 3px #f7e4e4;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-in-out;
	&.show {
		opacity: 1;
		visibility: visible;
	}
	p {display: inline-block;}
}

/* Login */

.login-main {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100vw;
	height: 85vh;
	background-image: url("/static/img/background-login.jpg");
	z-index: 0;
	&:before{
		content: '';
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(rgba(#005404, .7), rgba(#005404, .7));
		z-index: -1;
	}
	.inner {
		position: absolute;
		top: 50%; left: 50%;
		width: 100%;
		height: auto;
		text-align: center;
		transform: translate(-50%, -50%);
		.login-header {
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			.main-logo {
				vertical-align: top;
				display: inline-block;
				width: 100%;
				height: auto;
				padding: 4vh 10vw;
				white-space: nowrap;

				img {height: 6vh;}
				span {
					display: inline-block;
					vertical-align: bottom;
					font-size: 4vh;
					color: white;
					line-height: 6vh;
					margin: 0 1vw;
				}
			}
			.login-disclaimer {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				height: auto;
				padding: 4vh 10vw;
				font-size: 3.5vh;
				line-height: 5vh;
				color: white;
				max-width: 900px;
			}
		}
		.login-form {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			padding: 4vh 10vw;
			.button {
				padding: 2.5vh;
				font-size: 20px;
				color: black;
				background: white;
				border: none;
				font-weight: 400;
				box-shadow: 0 10px 25px -15px #000;
				transition: all .2s ease-in-out;
				&:hover, &:active {background: #eee;}
			}
		}

		.login-steps {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: auto;
			padding: 4vh 10vw;
			font-size: 0;
			text-align: center;
			& > * {font-size: initial}

			.step {
				display: inline-block;
				vertical-align: top;
				position: relative;
				width: 31%;
				margin: 0 1%;
				padding: 2vh 1vw;
				color: white;
				font-size: 18px;
				& > * {
					display: block;
					margin: 1vh 0;
				}

				.step-icon {font-size: 40px;}
				.step-number {font-weight: bold;}
			}
		}
	}
}

.login-footer {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 100%;
	height: 15vh;
	background: white;

	.brand {
		position: absolute;
		top: 50%; left: 0;
		width: 100%;
		height: auto;
		transform: translateY(-50%);
		text-align: center;
		p {
			line-height: 30px;
			font-size: 16px;
			a {
				text-decoration: none;
				color: $main_blue;
				font-weight: bold;
			}
		}
	}
}

/* Home */

.index {
    padding: 50px 0 100px;
	text-align: center;

	.disclaimer {
		font-size: 1.5em;
		font-weight: 200;
		padding: 20px 0;
	}

	.search-form, .login-form {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 100%;
		height: auto;
		text-align: center;
		max-width: 640px;
		margin: 2vh 0;
		font-size: 0;
		input.query {
			display: inline-block;
			vertical-align: top;
			width: 67%;
			height: 50px;
			margin: 0 3% 0 0;
			padding: 10px 20px;
			border: 1px solid #dddddd;
			border-radius: 3px;
			color: #333333;
			font-size: 16px;
			font-weight: bold;
			font-family: 'Raleway', sans-serif;
			outline: none;
			box-sizing: border-box;
			box-shadow: 0px 5px 3px #f2f2f2;
		}

		.button {
			width: 30%;
			height: 50px;
			box-shadow: 0px 5px 3px #f2f2f2;
		}

		.languages {
			display: inline-block;
			width: 100%;
			margin: 10px 0;
			height: 30px;
			text-align: center;
			input {
				position: absolute;
				opacity: 0;
				visibility: hidden;
				&:checked + label {background: #eee;}
			}

			label {
				display: inline-block;
				vertical-align: top;
				text-transform: uppercase;
				color: $main_dark;
				background: transparent;
				width: auto;
				height: 30px;
				padding: 3px 5px;
				margin: 0 5px;
				font-size: initial;
				text-align: center;
				cursor: pointer;
				line-height: 24px;
				border-radius: 3px;

				img {
					display: inline-block;
					vertical-align: top;
					height: 24px;
				}
			}
		}

		.results {
			position: absolute;
			display: block;
			margin-top: -1px;
			vertical-align: top;
			width: 67%;
			height: auto;
			max-height: 150px;
			overflow-y: auto;
			border: 1px solid #dddddd;
			z-index: 1;

			.item {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				height: auto;
				padding: 10px 20px;
				font-size: initial;
				text-align: left;
				background: white;
				cursor: pointer;
				transition: all .2s ease-in-out;
				&:hover, &:active, &.current {
					background: $main_dark;
					color: white;
				}
			}
		}
	}
}


/**
	Pills
 */


.pills {
	/* Preview */
	.preview {
		margin-bottom: 100px;
		.preview-header {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: auto;
			font-size: 0;
			padding: 1vh 0 2vh;

			.info {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				height: auto;
				font-size: 16px;

				h1 {
					line-height: 40px;
					font-weight: 400;
					padding: 2vh 0;
				}
				p {width: 50%;}
			}
		}
		.preview-table {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: auto;
			font-size: initial;
			border-collapse: separate;

			tr {
				display: inline-table;
				margin: 1vh 0;
				width: 100%;
				border: 1px solid #ddd;
				border-radius: 4px;
				transition: all .2s ease-in-out;
				&:hover {box-shadow: 0 5px 10px -9px #000;}
				td {
					padding: 1vh 2vw;
					font-size: small;
					border-right: 1px solid #ddd;
					&.date {width: 15%;}

					&.content {
						width: 50%;
						.answers {
							width: 100%;
							margin: 1em 0 .5em;
							.answer {
								display: inline-block;
								width: 25%;
								&.correct {
									color: #2ecc71;
								}
							}
					    }
					}
					&.media {
						width: 10%;
						text-align: center;
						padding: 0 1vw;
						img {
							width: auto;
							height: auto;
							max-width: 100%;
							max-height: 60px;
						}
					}
					&.actions {
						width: 20%;
						text-align: center;
						border: none;
						font-size: 0;
						span.action {
							display: inline-block;
							vertical-align: top;
							width: 48%;
							height: auto;
							padding: 1vh .5vw;
							margin: 0 1%;
							font-size: small;
							cursor: pointer;
							transition: all .2s ease-in-out;
							border-radius: 3px;
							&:hover, &:active {
								background: #f4f4f4;
							}
						}
					}
					&:last-child {
						text-align: center;
						border: none;
						cursor: pointer;
					}
				}
			}
		}

		.footer {
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: 0;
			margin: 2vh 0;
			text-align: right;
			.button {
				box-shadow: 0px 5px 3px #f2f2f2;
				i {
					margin: 0 1vw;
				}
			}
		}
	}

	/* Edit Popup */
	.edit-popup {
		display: inline-block;
		vertical-align: top;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		transition: all .2s ease-in-out;
		&.hidden {
			opacity: 0;
			visibility: hidden;
		}

		.edit-form {
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			width: 90%;
			max-width: 600px;
			height: auto;
			max-height: 90%;
			overflow-y: auto;
			padding: 2vh 3vw;
			background: white;
			border: 1px solid #ccc;
			border-radius: 5px;
			box-shadow: 0 5px 10px -5px #000;
			font-size: 0;

			input, textarea {
				display: block;
				vertical-align: top;
				padding: 1vh 1vw;
				font-family: 'Raleway';
				border-radius: 3px;
				font-size: 14px;
				font-family: 'Raleway', sans-serif;
				outline: none;
				box-sizing: border-box;
				box-shadow: 0px 5px 3px #f2f2f2;
				border: 1px solid #ccc;
				width: 100%;
				margin: 1vh 0;
			}

			textarea {
				max-width: 100%;
				min-height: 100px;
			}

			h3 {
				font-size: medium;
			}

			.answers {
				margin-top: 2vh;
				border-top: 1px solid rgba(0, 0, 0, 0.4);
				padding-top: 1vh;
			}

			button {
				display: inline-block;
				vertical-align: top;
				width: 45%;
				margin: 1vh 10% 1vh 0;
				padding: 1vh 0;
				text-align: center;
				outline: 0;
				border: 1px solid #ccc;
				background: white;
				border-radius: 4px;
				box-shadow: 0px 5px 10px #f2f2f2;
				font-size: 14px;
				font-family: 'Raleway', sans-serif;
				transition: all .2s ease-in-out;
				cursor: pointer;
				&:hover, &:active {background: #f4f4f4;}

				&.cancel {margin-right:0;}
				&.save {
					background: $main_dark;
					color: white;
					border-color: transparent;
					&:hover, &:active {
						background: $main;
					}
				}
			}
		}
	}
}

/* Design */
.design {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto;

	.command {
		line-height: 40px;
    	font-weight: 400;
		padding: 2vh 0;
	}
	.templates-list {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: auto;
		list-style: none;
		font-size: 0;
		& > * {font-size: initial;}

		.template {
			display: inline-block;
			vertical-align: top;
			width: 30%;
			margin: 2vh 1.5%;
			input {
				display: none;
				&:checked + label {
					box-shadow: 0 4px 10px -5px #000;
					.indicator {background: #2ecc71;}
				}
			}

			label {
				display: inline-block;
				vertical-align: top;
				position: relative;
				width: 100%;
				transition: all .2s ease-in-out;
				border: 1px solid #ddd;
				border-radius: 4px;
				&:hover, &:active {box-shadow: 0 4px 10px -5px #000;}

				.indicator {
					position: absolute;
					top: 10px; left: 10px;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background: #2c3e50;
					text-align: center;
					line-height: 30px;
					color: white;
					transition: all .2s ease-in-out;
					z-index: 1;
				}

				.thumbnail {
					width: 100%;
					height: auto;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
				}

				.name {
					display: block;
					text-align: center;
					padding: 1vh 1vw;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.index .search-form {
		input {
			width: 100%;
			margin: 0 0 30px;
		}

		.button {width: 50%;}
	}
}