<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/style/style.css"/>
		<title>theJuice</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="main-logo">
			<a href="/">
				<img src="/static/img/logo.svg"/>
			</a>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>