<ul class="contact-list">
	<li class="contact">
		<label>
			<input type="checkbox" name="contacts" value="sara">
			<span class="indicator"></span>
			<div class="picture" style="background-image: url('https://scontent.cdninstagram.com/hphotos-xat1/t51.2885-15/e15/10986144_847929191911614_395110176_n.jpg')"></div>
			<span>Sara</span>
		</label>
	</li>
	<li class="contact">
		<label>
			<input type="checkbox" id="contact1" name="contacts" value="jon">
			<span class="indicator"></span>
			<div class="picture" style="background-image: url('https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s640x640/e35/sh0.08/11419076_873108996104987_1048428431_n.jpg')"></div>
			<span>Jon</span>
		</label>
	</li>
	<li class="contact">
		<label>
			<input type="checkbox" id="contact2" name="contacts" value="james">
			<span class="indicator"></span>
			<div class="picture" style="background-image: url('https://s-media-cache-ak0.pinimg.com/736x/70/73/be/7073be6aa0f75fc8f4ce34c5812edc2e.jpg')"></div>
			<span>James</span>
		</label>
	</li>
	<li class="contact">
		<label>
			<input type="checkbox" id="contact3" name="contacts" value="carol">
			<span class="indicator"></span>
			<div class="picture" style="background-image: url('http://2.bp.blogspot.com/-4ZEshML0tvY/UlR0t5fM0FI/AAAAAAAAAfg/3Vow0_tRLcE/s1600/headshot.jpg')"></div>
			<span>Carol</span>
		</label>
	</li>
</ul>