<ul class="formats-list">
	<li class="format">
		<label onclick="ga('send', 'event', 'format', 'click', 'infographic')">
			<input type="radio" name="format" value="infographic" checked/>
			<span class="indicator"></span>
			<span class="icon">
				<i class="fa fa-code-fork"></i>
			</span>
			<p>Infographic</p>
		</label>
	</li>
	<li class="format disabled">
		<label onclick="ga('send', 'event', 'format', 'click', 'video')">
			<input type="radio" name="format" value="video" disabled/>
			<span class="indicator"></span>
			<span class="icon">
				<i class="fa fa-film"></i>
			</span>
			<p>Video</p>
		</label>
	</li>
	<li class="format disabled">
		<label onclick="ga('send', 'event', 'format', 'click', 'audio')">
			<input type="radio" name="format" value="audio" disabled/>
			<span class="indicator"></span>
			<span class="icon">
				<i class="fa fa-volume-up"></i>
			</span>
			<p>Audio</p>
		</label>
	</li>
	<li class="format disabled">
		<label onclick="ga('send', 'event', 'format', 'click', 'slides')">
			<input type="radio" name="format" value="slides" disabled/>
			<span class="indicator"></span>
			<span class="icon">
				<i class="fa fa-clone"></i>
			</span>
			<p>Slides</p>
		</label>
	</li>
</ul>