<ul class="formats-list">
	<li class="format">
		<label>
			<input type="radio" name="format" value="video"/>
			<span class="indicator"></span>
			<span class="icon">
				<i class="fa fa-film"></i>
			</span>
			<p>Video</p>
		</label>
	</li>
	<li class="format">
		<label>
			<input type="radio" name="format" value="infographic"/>
			<span class="indicator"></span>
			<span class="icon">
				<i class="fa fa-code-fork"></i>
			</span>
			<p>Infographic</p>
		</label>
	</li>
	<li class="format">
		<label>
			<input type="radio" name="format" value="audio"/>
			<span class="indicator"></span>
			<span class="icon">
				<i class="fa fa-volume-up"></i>
			</span>
			<p>Audio</p>
		</label>
	</li>
	<li class="format">
		<label>
			<input type="radio" name="format" value="slides"/>
			<span class="indicator"></span>
			<span class="icon">
				<i class="fa fa-clone"></i>
			</span>
			<p>Slides</p>
		</label>
	</li>
</ul>