<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/style/style.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>TheJuice</title>
        <meta name="description" content="The juice helps teachers translate their knowledge into a language students understand">

		<link rel="apple-touch-icon" sizes="180x180" href="/static/img/ico/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/ico/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/ico/favicon-16x16.png">
        <link rel="manifest" href="/static/img/ico/manifest.json">
        <link rel="mask-icon" href="/static/img/ico/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/static/img/ico/favicon.ico">

		<!--facebook-->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Thejuice">
        <meta property="og:description" content="TheJuice History. Crea infografías de cualquier personaje histórico en menos de un minuto">
        <meta property="og:image" content="http://takethejuice.com/assets/images/thumbnail-history.png">
        <meta property="og:url" content="http://takethejuice.com/es/">

        <!--twitter-->
        <meta name="twitter:title" content="TheJuice">
        <meta name="twitter:description" content="TheJuice History. Crea infografías de cualquier personaje histórico en menos de un minuto">
        <meta name="twitter:image" content="http://takethejuice.com/assets/images/thumbnail-history.png">
        <meta name="twitter:card" content="summary_large_image">

        <PageMap>
             <DataObject type="thumbnail">
               <Attribute name="src" value="assets/images/ico/android-icon-192x192.png"/>
               <Attribute name="width" value="100"/>
               <Attribute name="height" value="130"/>
             </DataObject>
           </PageMap>

        <meta name="thumbnail" content="assets/images/ico/android-icon-192x192.png" />

		<!-- GA -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		</script>

		<!-- Facebook -->
		<script>
			window.fbAsyncInit = function() { FB.init({ appId: '228111074341577', xfbml: true, version: 'v2.8' }); };
			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="/static/js/vendor/angular-ui-router.min.js"></script>
		<script src="/static/js/app/app.js"></script>
	</head>
	<body ng-app="app">
		<div ui-view></div>

		<!-- Service -->
		<script src="/static/js/app/service.js"></script>
		<!-- Factory -->
		<script src="/static/js/app/factory.js"></script>
		<!-- Controllers -->
		<script src="/static/js/app/controllers/search.js"></script>
		<script src="/static/js/app/controllers/preview.js"></script>
	</body>
</html>