{% extends "base.html" %}

{% block body %}
	<form action="/download" method="GET">
		<input type="hidden" name="query" value="{{title}}">

		<div class="wrapper columns">
			<div id="downloadable" class="timeline left-col">
				{% block timeline %}{% endblock %}
			</div>
			<div class="formats right-col">
				<span class="text">Convertir datos en:</span>

				{% include "formats.html" %}

				<button type="submit" class="button">
					<span class="icon">
						<i class="fa fa-download"></i>
					</span>
					Convertir
				</button>
			</div>
		</div>
	</form>
{% endblock %}