{% extends "base.html" %}

{% block body %}
	<form class="pills" action="/download" method="GET">
		<input type="hidden" name="query" value="{{title}}">

		<div class="wrapper-with-padding columns">
			<div class="preview left-col">
				<div class="preview-header">
					{% if picture %}
					<div class="img" style="background-image: url('{{ picture }}')"></div>
					<div class="info with-image">
						<h1>{{ title }}</h1>
						<p>Estos son los datos encontrados:</p>
					</div>
					{% else %}
					<div class="info">
						<h1>{{ title }}</h1>
						<p>Estos son los datos encontrados:</p>
					</div>
					{% endif %}
				</div>
				<!-- preview output -->
				<ul class="preview-table">
					<li class="tr thead">
						<div class="tc col1">Fecha</div>
						<div class="tc col2">Hito</div>
					</li>
					{% for hit in hits %}
					<li class="tr">
						<div class="tc col1">{{ hit.date }}</div>
						<div class="tc col2">
							<div class="textarea" disabled-class="editable" disabled-attr="contentEditable">{{ hit.content }}</div>
						</div>
					</li>
					{% endfor %}
				</ul>
				<!-- preview output -->
			</div>
			<div class="formats right-col">
				<div class="formats-inner">
					<span class="text">Convertir datos en:</span>

					<ul class="formats-list">
						<li class="format">
							<label>
								<input type="radio" name="format" value="infographic" checked/>
								<span class="indicator"></span>
								<span class="icon">
									<i class="fa fa-code-fork"></i>
								</span>
								<p>Infographic</p>
							</label>
						</li>
						<li class="format disabled">
							<label>
								<input type="radio" name="format" value="video" disabled/>
								<span class="indicator"></span>
								<span class="icon">
									<i class="fa fa-film"></i>
								</span>
								<p>Video</p>
							</label>
						</li>
						<li class="format disabled">
							<label>
								<input type="radio" name="format" value="audio" disabled/>
								<span class="indicator"></span>
								<span class="icon">
									<i class="fa fa-volume-up"></i>
								</span>
								<p>Audio</p>
							</label>
						</li>
						<li class="format disabled">
							<label>
								<input type="radio" name="format" value="slides" disabled/>
								<span class="indicator"></span>
								<span class="icon">
									<i class="fa fa-clone"></i>
								</span>
								<p>Slides</p>
							</label>
						</li>
					</ul>

					<button type="submit" class="button">
						<span class="icon">
							<i class="fa fa-download"></i>
						</span>
						Convertir
					</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}