{% extends "base.html" %}

{% block body %}
	<div class="steps">
		<div class="buttons">
			<div class="side left">
				<a class="button outline go-back" href="/pills?query={{query}}&force=True">
					<span class="icon">
						<i class="fa fa-arrow-left"></i>
					</span>
					Return to timeline
					<span class="icon">
						<i class="fa fa-list-ul"></i>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="wrapper">
		<div class="download">
			<span class="icon">
				<i class="fa fa-clock-o" aria-hidden="true"></i>
			</span>
			<h3>The {{format}} is not avalible yet... But we still working on it :)</h3>
			<a class="button" href="/pills?query={{query}}&force=True">Try other format!</a>
		</div>
	</div>
{% endblock %}