{% extends "base.html" %}

{% block body %}
	<div class="steps">
		<div class="buttons">
			<div class="side left">
				<a class="button outline go-back" href="/pills?query={{data.name}}">
					<span class="icon">
						<i class="fa fa-arrow-left"></i>
					</span>
					Return to timeline pills
					<span class="icon">
						<i class="fa fa-list-ul"></i>
					</span>
				</a>
			</div>
			<div class="side right">
				<a id="download" class="button" href="/download">
					<span class="icon">
						<i class="fa fa-download"></i>
					</span>
					Go to download
					<span class="icon">
						<i class="fa fa-arrow-right"></i>
					</span>
				</a>
			</div>
		</div>
	</div>

	<div class="targets wrapper columns">
		<div class="preview left-col">
			{% block preview %}{% endblock %}
		</div>
		<div class="contacts right-col">
			{% include "contacts.html" %}
		</div>
	</div>
{% endblock %}