<form class="design">
	<h1 class="command">Choose any of these templates</h1>
	<ul class="templates-list">
		<li class="template" ng-repeat="template in templates">
			<input type="radio" id="input{{ template.value }}" ng-checked="design == template.value">
			<label for="input{{ template.value }}" ng-click="select(template.value)">
				<span class="indicator">
					<i class="fa fa-check"></i>
				</span>
				<img class="thumbnail" src="{{ template.thumbnail }}"/>
				<span class="name">{{ template.name }}</span>
			</label>
		</li>
	</ul>
</form>