<form class="pills" ng-submit="download()">
	<input type="hidden" name="query" value="{{title}}">

	<div class="wrapper-with-padding columns">
		<div class="preview left-col">
			<!-- Header -->
			<div class="preview-header">
				<div class="img ng-hide" ng-show="results.picture" style="background-image: url('{{ results.picture }}')"></div>
				<div class="info" ng-class="{'with-image': results.picture}">
					<h1>{{ results.title }}</h1>
					<p>We found all of this information:</p>
				</div>
			</div>
			<!-- Preview -->
			<ul class="preview-table">
				<li class="tr thead">
					<div class="tc col1">Date</div>
					<div class="tc col2">Content</div>
				</li>
				<li class="tr" ng-repeat="hit in results.hits" ng-hide="hit.content == ''">
					<div class="tc col1">{{ hit.date }}</div>
					<div class="tc col2">
						<!--<div class="textarea editable" ng-model="hit.content" contenteditable></div>-->
						<div class="textarea">{{ hit.content }}</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="formats right-col">
			<div class="formats-inner">
				<span class="text">Transform into:</span>
				<!-- Formats -->
				<ul class="formats-list">
					<li class="format">
						<label sdfsd="ga('send', 'event', 'format', 'click', 'infographic')">
							<input type="radio" ng-model="format" value="infographic" ng-checked="true"/>
							<span class="indicator"></span>
							<span class="icon">
								<i class="fa fa-code-fork"></i>
							</span>
							<p>Infographic</p>
						</label>
					</li>
					<li class="format disabled">
						<label sdfsd="ga('send', 'event', 'format', 'click', 'video')">
							<input type="radio" ng-model="format" value="video" disabled/>
							<span class="indicator"></span>
							<span class="icon">
								<i class="fa fa-film"></i>
							</span>
							<p>Video</p>
						</label>
					</li>
					<li class="format disabled">
						<label sdfsd="ga('send', 'event', 'format', 'click', 'audio')">
							<input type="radio" ng-model="format" value="audio" disabled/>
							<span class="indicator"></span>
							<span class="icon">
								<i class="fa fa-volume-up"></i>
							</span>
							<p>Audio</p>
						</label>
					</li>
					<li class="format disabled">
						<label sdfsd="ga('send', 'event', 'format', 'click', 'slides')">
							<input type="radio" ng-model="format" value="slides" disabled/>
							<span class="indicator"></span>
							<span class="icon">
								<i class="fa fa-clone"></i>
							</span>
							<p>Slides</p>
						</label>
					</li>
				</ul>
				<button type="submit" class="button">
					<span class="icon">
						<i class="fa fa-download"></i>
					</span>
					Transform
				</button>
			</div>
		</div>
	</div>
</form>