<div class="pills">
	<form ng-submit="download()">
		<div class="wrapper-with-padding">
			<div class="preview">
				<!-- Header -->
				<div class="preview-header">
					<div class="info">
						<h1>Review the information about<br /><b>{{ result.title }}</b></h1>
						<p>This is an automatic summary, review the sentences and edit or remove them if you want to have a more accurate result. </p>
					</div>
				</div>

				<!-- Preview -->
				<table class="preview-table">
					<tbody>
						<tr ng-repeat="sentence in result.sentences" ng-hide="sentence == ''">
							<td class="content">{{ sentence }}</td>
							<td class="actions">
								<span class="action" ng-click="edit(sentence)">
									<i class="fa fa-pencil"></i>
									Edit
								</span>
								<span class="action" ng-click="delete(sentence)">
									<i class="fa fa-trash-o"></i>
									Delete
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="footer">
					<button type="button" class="button" ng-click="design()">
						Design
						<i class="fa fa-angle-right"></i>
					</button>
				</div>
			</div>
		</div>
	</form>

	<!-- Edit Hit -->
	<div class="edit-popup" ng-class="{hidden: !showEdit}">
		<form class="edit-form" ng-submit="save()">
			<textarea ng-model="current.new" placeholder="Sentence content"></textarea>
			<button ng-click="closeEdit()" class="cancel">Cancel</button>
			<button type="submit" class="save">Save</button>
		</form>
	</div>
</div>