<div class="index">
	<p class="disclaimer">Search any dead historical figure you want.<br/>We have them all!</p>

	<form class="search-form" ng-submit="submitSearchForm()">

		<input type="text" class="query" name="query" ng-model="query" placeholder="Search..." autocomplete="off"/>
		<button class="button" type="submit">
			<span class="icon">
				<i class="fa fa-search"></i>
			</span>
			Search
		</button>

		<autosuggestions query="query" items="results" lang="lang" submit="reviewPage(pageId)" search="submitSearchForm(query)"></autosuggestions>

		<div class="languages" ng-hide="query">
			<input type="radio" id="langen" name="lang" ng-model="lang" value="en" ng-checked="true">
			<label for="langen">
				<img src="/static/img/flags/en.png"/>
				EN
			</label>
			<input type="radio" id="langes" name="lang" ng-model="lang" value="es">
			<label for="langes">
				<img src="/static/img/flags/es.png"/>
				ES
			</label>
		</div>
	</form>
</div>
