<div class="index">
	<div class="header">
		<a class="main-logo" href="/">
			<img src="/static/img/logo.svg"/>
		</a>
	</div>

	<form class="search-form" ng-submit="submitSearchForm()">
		<input type="text" ng-model="query" placeholder="Search a historical character..." autocomplete="off"/>
		<button class="button" type="submit">
			<span class="icon">
				<i class="fa fa-search"></i>
			</span>
			Search
		</button>
	</form>

	<div class="results ng-hide" ng-show="results">
		<p class="results-message">¡Nice! We found some results for <i>{{query}}</i>. Choose one:</p>
		<ul class="results-list">
			<li class="item" ng-repeat="result in results track by $index">
				<a href ng-click="submitSearchForm(true)">
					<b>{{result}}</b>
				</a>
			</li>
		</ul>
	</div>
</div>
