{% extends "layout.html" %}

{% block body %}

	<div class="container is-fluid columns">
		<div class="column">
			<a href="/">
				<img src="static/assets/img/logo-h.svg" style="max-width: 250px">
			</a>
		</div>
		<div class="column is-2 has-text-right">
			<a class="button is-white" href="/logout">
				<span class="icon is-small">
					<i class="fa fa-sign-out"></i>
				</span>
				<span>Logout</span>
			</a>
		</div>
	</div>

	<div class="section columns is-multiline">
		{% if error %}
			<div class="column is-12 notification is-warning">
				<p>{{ error }}</p>
			</div>
		{% endif %}
		<div class="container column">
			<section id="content" class="columns is-mobile is-multiline">
				{% block content %}{% endblock %}
			</section>
		</div>
	</div>

{% endblock %}
