{% extends "body.html" %}

{% block content %}

	<div class="column has-text-centered">
		<h1 class="title is-1">Oops!</h1>
		<h2 class="title is-3">Something was wrong with {{errors|length}} users :(</h2>
		<ul>
			{% for error in errors %}
				<li><b>{{error.user}}: </b>{{error.exception}}</li>
			{% endfor %}
		</ul>
		<br/>
		<br/>

		<p><strong>REMEMBER THIS IS JUST A DEMO</strong></p>
		<br/>
		<a href="https://beeva-innovation.typeform.com/to/VaXnjC" target="_blank" class="button is-primary is-outlined">
			ACCESS BETA TESTERS PROGRAM
		</a>
	</div>

{% endblock %}


