{% extends "targets.html" %}

{% block target %}

	{% for sentence in sentences %}
		{% if sentence.submitable %}
			<input type="hidden" name="sentences[{{loop.index0}}]" value="{{sentence.content}}">
		{% endif %}
		
		{% if sentence.bot %}
			<div class="container" style="margin: .5em 0">
				<span class="tag bot-says is-medium" style="border-radius: 15px; padding: 0.5em 0.875em; height: auto; white-space: normal;">{{ sentence.content }}</span>
			</div>
		{% else %}
			<div class="container has-text-right" style="margin: .5em 0">
				<span class="tag is-dark is-medium" style="border-radius: 15px; padding: 0.5em 0.875em; height: auto; white-space: normal;">{{ sentence.content }}</span>
			</div>
		{% endif %}
	{% endfor %}

{% endblock %}
