{% extends "body.html" %}

{% block content %}

	<div id="search-form" class="column is-8-tablet is-12-mobile is-offset-2-tablet">
		<div class="content is-medium">
			<ol>
				<li>Introduce the article url and click <strong>Make the magic</strong>.</li>
				<li>Select a social network.</li>
				<li>Preview the content and send it to their profiles.</li>
			</ol>
		</div>
		<form action="/" method="POST">
				<p class="control">
					<input class="input is-large" type="text" name="url" placeholder="Insert resource url here!">
				</p>
				<p class="has-text-centered">
					<button type="submit" class="button is-large is-primary" onClick="ga('send', 'event', 'inicio', 'click', 'magicButton');">
						<span class="icon is-small">
							<i class="fa fa-magic"></i>
						</span>
						<span>Make the magic</span>
					</button>
				</p>
		</form>
	</div>

{% endblock %}
