{% extends "layout.html" %}

{% block body %}
	<div class="section">
		<div class="container is-fluid columns">
			<div id="login-form" class="column has-text-centered">
				<a href="/">
					<img src="static/assets/img/logo.svg" style="max-width: 250px">
				</a>

				{% if error %}
					<div class="error">
						<p>{{ error }}</p>
					</div>
				{% endif %}

				<form method="POST" action="/login">
					<input type="hidden" id="userid-input" name="userid">
					<input type="hidden" id="accesstoken-input" name="accesstoken">
					<input type="hidden" id="email-input" name="email">
					<button id="login-btn" class="button is-large is-primary">
						<span class="icon is-medium">
							<i class="fa fa-facebook"></i>
						</span>
						<span>Facebook Login</span>
					</button>
				</form>
			</div>
		</div>
	</div>

	<script src="static/assets/js/login.js"></script>
{% endblock %}
