{% extends "body.html" %}

{% block content %}
	<div class="column is-12-tablet is-12-mobile">
		<h3 class="title is-3">Preview</h3>
		<form id="send-form" action="/send" method="POST">
		{% for tweet in tweets %}
			<input type="hidden" name="sentences[{{loop.index0}}]" value="{{tweet.content}}">
			<div class="box">
				<article class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
						</figure>
					</div>
					<div class="media-content">
						<div class="content">
							<p><strong>takethejuice</strong> <small>@take_thejuice</small></p>
							<p>{{tweet.content}}</p>
						</div>
						<nav class="level">
							<div class="level-left">
								<a class="level-item"><span class="icon is-small"><i class="fa fa-reply"></i></span></a>
								<a class="level-item"><span class="icon is-small"><i class="fa fa-retweet"></i></span></a>
								<a class="level-item"><span class="icon is-small"><i class="fa fa-heart"></i></span></a>
							</div>
						</nav>
					</div>
				</article>
			</div>
		{% endfor %}
		</form>
		
		<button id="send-button" type="submit" class="button is-large is-light is-disabled is-pulled-right" onClick="ga('send', 'event', 'final', 'click', 'send');">
			<span>Publish</span>
			<span class="icon is-small">
				<i class="fa fa-paper-plane"></i>
			</span>
		</button>
	</div>
	<script src="/static/assets/js/target.js"></script>
	<script src="/static/assets/js/smooth-scroll.js"></script>

{% endblock %}
