{% extends "targets.html" %}

{% block target %}

	{% for tweet in tweets %}
		<input type="hidden" name="sentences" value="{{tweet.content}}">
		<small>Will be sent in {{tweet.hour}} hours </small>
		<div class="box">
			<article class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="static/assets/img/face.png" alt="Image">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<span><strong>takethejuice</strong> <small>@take_thejuice</small></span>
						<div>
							{{tweet.content}}
							{% if tweet.link %}
								<span class="link">{{tweet.link}}</span>
							{% endif %}
							{% for tag in tweet.tags %}
								<span class="hashtag">#{{tag}}</span>
							{% endfor %}
						</div>
					</div>
				</div>
			</article>
		</div>
	{% endfor %}

{% endblock %}
